<% content_for :sidebar do %>
  <h3><%=l(:label_admin_reports)%></h3>
  <div id="redmine-info">
    <ul>
      %= render_menu :redmine_info_menu %
    </ul>
  </div>

  <% if User.current.admin? %>
    <h3><%=l(:label_administration)%></h3>
    <%= render :partial => 'admin/menu' %>
  <% end %>
<% end %>

<%
if @icat
  html_title(InfoCategory.label(@icat)) 
end
%>
<% html_title(l(:label_admin_reports)) %>


<h2><%= h InfoCategory.label(@item)  %></h2>


<% if (!@item) %>
@item = <%= @item %>
     if InfoCategory.is_shown?(@item) %

<p><strong><%= Redmine::Info.versioned_name %></strong> (<%= @db_adapter_name %>)</p>

%   end %
<% else %>
<%   if InfoCategory.is_shown?(@item)
       page = 'admin_reports/' + @item.to_s %>
<%=    render(:partial => page) %>
<%   else %>

<p><b> Hide </b></p>

<%   end %>
<% end %>
